torch>=1.11.0
torchvision>=0.12.0
pytorch-ignite>=0.4.8
pyyaml
transformers
datasets

#::: if (['neptune', 'polyaxon'].includes(it.logger)) { :::#

#:::= it.logger + '-client' :::#

#::: } else { :::#

#:::= it.logger :::#

#::: } :::#

#::: if (it.include_test) { :::#
pytest
#::: } :::#
