torch>=1.10.0
torchvision>=0.11.1
pytorch-ignite>=0.4.7
pyyaml
transformers
datasets

#::: if (['neptune', 'polyaxon'].includes(it.logger)) { :::#

#:::= it.logger + '-client' :::#

#::: } else { :::#

#:::= it.logger :::#

#::: } :::#

#::: if (it.include_test) { :::#
pytest
#::: } :::#
